body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
    background-color: rgba(253, 208, 194, 0.562);
    color: rgba(100, 151, 151, 0.842);
    align-items: center;
}

.logo {
    margin-left: 120px;
}

p {
    font-family: fantasy;
}
ul {
    list-style-type: none;
    margin-right: 100px;
    padding: 0 20px;
    font-size: 12pt;
}

li {
    display: inline;
    margin: 5px;
}

a {
    text-decoration: none;
    color: rgba(100, 151, 151, 0.89);
    font-weight: bold;
}

.row1 {
    display: flex;
    padding: 120px 120px;
    gap: 100px;
    background-image: url(img/map.jpeg);
    background-size: 1400px;
}

.intro{
    color: rgb(37, 37, 37);
    font-weight: bolder;
    background-color: whitesmoke;
    opacity: 0.75;
    height: 250px;
    padding: 30px;
}

.cave{
    max-height: 310px;
    width: auto;
}

.b1{
    color:white;
    background-color:rgb(37, 37, 37);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

h1,
h2 {
    font-family: fantasy;
    font-weight: extra-bold;
    color: rgb(37, 37, 37);
}

.row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 20px;
}

.egs {
    display: flex;
    flex: 1 1 0;
    gap: 20px;
    width: min-content;
    text-align: center;
}

.eg img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 5px solid rgba(100, 151, 151, 0.89);
}

.row3{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 400px;
  background-color: rgba(100, 151, 151, 0.89);
  margin-bottom: 50px;
}

.sign {
  display: flex;
  flex: 1;  
  justify-content: center;
  background-color: rgba(253, 208, 194, 0.562);
  margin: 100px 260px;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 11pt;
}

.b {
  align-self: center;
}

.b button {
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    background-color: rgba(253, 208, 194, 0.178);
    font-weight:bolder;
    padding: 2px 20px;
}
.footer {
    text-align: center;
    margin: 0;
    background-color: rgba(192, 192, 192, 0.541);
    font-size: 10pt;
} 

button {
    font-family: fantasy;
}